{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_project_new' ? 'Ajout' : 'Édition' %}

{% block title %}{{ action }}d'une tâche{% endblock %}

{% block body %}
<main>
    <header>
        <div id="current-user"></div>
            <div id="title-page">
                <h1>{{ action }} d'une tâche pour le projet {{project.name}} </h1>
            </div>
    </header>
    <div id="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="button button-submit">Envoyer</button>
        {% if task.id %}  
            <a href="{{path('app_task_remove', {projectId: project.id,id: task.id})}}" class="delete-task">Supprimer la tâche</a>
        {% endif %}
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}
